@mixin project-init {
    html,
    body,
    #app {
        box-sizing: border-box;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC",
            "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        font-size: 14px;
    }
    body {
        // min-width: 1280px;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    input[disabled],
    textarea[disabled] {
        cursor: not-allowed;
    }
    button {
        cursor: pointer;
    }
}

@mixin rmLink($color: none) {
    /*包含以下四种的链接*/
    & {
        color: $color;
        text-decoration: none;
    }
    /*正常的未被访问过的链接*/
    &:link {
        text-decoration: none;
    }
    /*已经访问过的链接*/
    &:visited {
        text-decoration: none;
    }
    /*鼠标划过(停留)的链接*/
    &:hover {
        text-decoration: none;
    }
    /* 正在点击的链接*/
    &:active {
        text-decoration: none;
    }
}
@mixin rmInput() {
    & {
        background: none;
        background-color: transparent;
        outline: none;
        border: none;
        resize: none;
    }
    &:focus {
        border: none;
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &[disabled] {
        // cursor: not-allowed;
    }
}
@mixin setPlaceholder($color: none) {
    // webkit
    &::-webkit-input-placeholder {
        color: $color;
    }

    // firefox
    &:-moz-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    // ie
    &:-ms-input-placeholder {
        color: $color;
    }
}
@mixin rmBtn() {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
@mixin webkitScrollbar() {
    // 滚动条
    &::-webkit-scrollbar {
        width: 3px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c2c2c2;
    }
    &::-webkit-scrollbar-track {
        background-color: #fff;
    }
}

@mixin gradientBtn($bgColor: #0099da, $hoverBgColor: #08c792, $color: #fff, $hoverColor: #fff) {
    background-color: $bgColor;
    color: $color;
    transition: all 0.2s linear;
    background: linear-gradient(to right, $hoverBgColor 50%, $bgColor 50%);
    background-size: 205% 100%;
    background-position: right bottom;
    border-color: $bgColor;
    &:hover {
        background-position: left bottom;
        border: 1px solid $hoverBgColor;
        color: $hoverColor;
    }
}

// 如果完全不加样式，则会按照单词断行，并且同类字符，会一直延申不进行断行
// word-break为normal，按单词断行
// overflow-wrap/word-wrap为normal，正常单词结束换行
// white-space:normal,连续空格合并为单个，换行变为空格
@mixin breakLine($type: word) {
    @if $type==word {
        word-break: normal;
        overflow-wrap: break-word; // 单词无法走到尽头，换行
        word-wrap: break-word;
        white-space: normal;
    } @else if $type==all {
        word-break: break-all;
        overflow-wrap: normal;
        word-wrap: normal;
        white-space: normal;
    } @else if $type==no {
        word-break: normal;
        overflow-wrap: normal;
        word-wrap: normal;
        white-space: nowrap;
    } @else {
        word-break: normal;
        overflow-wrap: break-word; // 单词无法走到尽头，换行
        word-wrap: break-word;
        white-space: normal;
    }
}
@mixin ellipse($line: 1) {
    @if $line==1 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    } @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}

// 边框加粗后内容抖动问题，最有方案。dom添加最少，样式最少，可控性强
// 1，如果从无边框变成有边框，可以使用默认边框透明占位
// 2,如果是原有边框粗细变化，可以通过padding控制占位
// 3. box-shadow方案，此方案更加更加优雅，也不需要占用padding和进行计算
// .border-change {
//     width: 300px;
//     height: 100px;
//     border: 1px solid black;
//     padding: 20px;
//     &:hover {
//         border: 8px solid black;
//         padding: 21px - 8px;
//     }
// }

// .outline {
//     width: 300px;
//     height: 100px;
//     outline: #736e21 dashed 1px;
//     outline-offset: 0px;
//     &:hover {
//         outline: #736e21 dashed 8px;
//         outline-offset: -4px;
//     }
// }
// // box-shadow：x-shadow  y-shadow  blur  spread  color  inset;
// .box-shadow {
//     width: 300px;
//     height: 100px;
//     box-shadow: 0 0 0 1px #000;
//     transition: 0.3s all;
//     &:hover {
//         box-shadow: 0 0 0 4px #000;
//     }
// }
