.c-img-container {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-loading {
        width: 80%;
    }
    .img-load {
        object-fit: contain;
    }
    .img-error {
    }
}
